<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center><h1>Enter New Tournament Detailss</h1></center>
    <form action="/create/tournament" method = "POST">
    <input type="text" name="game" placeholder="Enter Tournament For Game">
    <input type="text" name = "name" placeholder = "Enter Tournament Name">
    <input type="Number" name = "participants" placeholder = "Enter No. Of Players"> 
    <input type="datetime-local" name="starts" placeholder = "Starting On">
    <input type="datetime-local" name="ends" placeholder = "Ending ON">
    <input type="submit"> 
    </form>
</body>
</html>