<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter Tournament</title>
</head>
<body>
    <center><h1>Enter New Tournament Detailss</h1></center>
    <form action="/create/tournament" method = "POST">
    <select name="game">
        <% _.forEach(games, (game) => { %>
            <option value="<%= game.name %>"><%= game.name %></option>
        <% }) %>
    </select>
    <input type="text" name = "name" placeholder = "Enter Tournament Name">
    <input type="number" name = "participants" placeholder = "Enter No. Of Players"> 
    <textarea name="desc" cols="50" rows="20" placeholder = "Enter Tournament Description"></textarea>
    <input type="number" name = "price" placeholder = "Enter Price per Head">
    <input type="datetime-local" name="starts" placeholder = "Starting On">
    <input type="datetime-local" name="ends" placeholder = "Ending ON">
    <input type="submit"> 
    </form>
</body>
</html>