<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Slingshot Home</title>
  <meta charset="utf-8">
  <meta property="og:title" content="Slingshot">
  <meta property="og:image" content="img/clashcover.jpg">
  <meta property="og:description" content="Beat Challengers to show your skills and Earn Money">
  <meta name="keywords" content="HTML, CSS, JavaScript, Game, Tournament, Slingshot, Pubg, Clash, Clashroyale, war, gaming, earn, money, dollars, inr, thrill, play, gameplay, hold, tournament, clan, group">
  <meta name="author" content="Slingshot LLC">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/footer.css">

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top" style = "background: #010101">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">SlingShot</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="services" class="container-fluid text-center" style = "background: #010101">
  <h2 style = "color: #00C6FF">WE OFFER GAMES LIKE</h2>
  <!-- <h4 style = "color: #005ea1; font-weight: bold">That we offer</h4> -->
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="logo-small"><a href = "/tournaments/clash%20royale"><img src = "img/clashRoyale.png" style = "height: 200px;width: 200px;"></a></span>
      <h4 style = "color: #FFD700">CLASH ROYALE</h4>
      <p>Join Awesome Clan Wars</p>
    </div>
    <div class="col-sm-4">
      <span class="logo-small"><a href = "/tournaments/pubg"><img src = "img/pubg.png" style = "height: 200px;width: 200px;"></a></span>
      <h4 style = "color: #FFD700">PUBG</h4>
      <p>Go into the world of unknown players</p>
    </div>
    <div class="col-sm-4">
      <span class="logo-small"><a href = "/tournaments/fifa%2020"><img src = "img/fifa.png" style = "height: 200px;width: 200px;"></a></span>
      <h4 style = "color: #FFD700">FIFA 20</h4>
      <p>Enter The world of Awesome Leg tricks</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="logo-small"><a href = "/tournaments/god%20of%20war"><img src = "img/godofwar.png" style = "height: 200px;width: 200px;"></a></span>
      <h4 style = "color: #FFD700">GOD OF WAR</h4>
      <p>Join Kratos in the his empire of deaths</p>
    </div>
    <div class="col-sm-4">
      <span class="logo-small"><a href = "/tournaments/fortnite"><img src = "img/fortnite.png" style = "height: 200px;width: 300px;"></a></span>
      <h4 style = "color: #FFD700">FORTNITE</h4>
      <p>Have fun in a fantasy battle royale</p>
    </div>
    <div class="col-sm-4">
      <span class="logo-small"><a href = "/tournaments/call%20of%20duty"><img src = "img/callofduty.png" style = "height: 200px;width: 200px;"></a></span>
      <h4 style = "color: #FFD700">CALL OF DUTY: WARZONE</h4>
      <p>Support your country to conquer the world</p>
    </div>
  </div>
</div>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Company Name</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Company Name © 2018</p>
      </div>
  </footer>
</div>

<script>
$(document).ready(function(){
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
     if (this.hash !== "") {
     
        event.preventDefault();

      // Store hash
      var hash = this.hash;

      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        window.location.hash = hash;
      });
    }
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
