<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to Slingshot</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Slingshot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown05">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
          </form>
        </div>
      </nav>
<section id = "wrapper">
    <h3>Hey I am division header</h3>
</section>
<div class = "row">
  <div class = "col-lg-2"></div>
  <div class = "col-lg-10">
    <div class = "jumbotron m-2 p-2">
        <h1 class = "h1" id = "mainHead">Games</h1>
        <% _.forEach(games, (game) => { %>
          <div class = "jumbotron">
            <h3 class = "h3" id = "#gameHead"><%= game.name %></h3>
            <div class = "row">
              <div class="glide">
                  <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                      <% _.forEach(game.tournaments, (tournament) => { %>
                        <li class="glide__slide"><img src="/img/codcover.jpg" style = "width:100%;height:auto"></li>
                      <% }) %>
                    </ul>
                  </div>
                  <div data-glide-el="controls">
                      <button data-glide-dir="<">Previous</button>
                      <button data-glide-dir=">">Next</button>
                  </div>
                </div>
            </div>
          </div>
        <% }) %>
    </div>
  </div>
</div>
  
</body>
</html>