<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome To Slingshot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/authentication.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
          <form action="/login" class="pt-5" method = "POST">
            <% if(hasErrors){ %>
                  <% _.forEach(messages, (error) => { %>
                    <div class = "alert alert-danger text-center">
                        <a href = "#" class = "close" data-dismiss = "alert" aria-label="close">&times;</a>
                    <%= error %>
                    </div>
                  <% }) %>
            <% } %>
            <h1 style = "text-align: right;color:#Fff;">Login</h1>
            <div class="form-group">
              <label for="email">Username</label>
              <input type="text" name = "email" class="form-control" placeholder="Enter email" id="email" autofocus>
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" name = "password" class="form-control" placeholder="Enter password" id="pwd">
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
              <a href="/signup">Signup</a>
              </label>
            </div>
            <button type="submit" class="btn btn-custom">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>