<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
</head>
<body>
    <p>Signup For the League of legends</p>
    <form action="/signup" method = "POST">
    <input type="text" name = "name" Placeholder = "Name">
    <input type="email" name = "email" Placeholder = "Email">
    <input type="password" name = "password" Placeholder = "Password">
    <input type="tel" name = "phone" Placeholder = "Phone">
    <input type="submit" Value = "Create Account">
    </form>
    
</body>
</html>