<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Login Form With Background Image</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/authentication.css">
  </head>
  <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" style = "background: #161616;box-shadow: 0 0 10px 0 #07abed">
                <div class="container">
                  <a class="navbar-brand" href="/" style = "color: #d3d3d3">SlingShot</a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                       <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
          <form action="/signup" class="pt-5" method = "POST">
            <h1 style = "text-align: right;color:#Fff;">Signup</h1>
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" name = "name" class="form-control" placeholder="Enter Full Name" id = "name" autofocus required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name = "email" class="form-control" placeholder="Enter email" id = "email" required>
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" name = "password" class="form-control" placeholder="Enter password" id = "pwd" required>
            </div>
            <div class="form-group">
                <label for="tel">Phone Number</label>
                <input type="tel" name = "tel" class="form-control" placeholder="Enter Your Number" id = "tel" required>
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-custom">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>