<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/skin-black.css">
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.css">
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/skin-yellow.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
  <script src = "https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
</head>
<body class="hold-transition skin-yellow sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
      <header class="main-header">
          <!-- Logo -->
          <a href="#" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>SS</b></span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg">SlingShot</span>
          </a>
          <!-- Header Navbar: style can be found in header.less -->
          <nav class="navbar navbar-static-top">
              <!-- Sidebar toggle button-->
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </a>
              <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                      <li class="dropdown messages-menu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-envelope-o"></i>
                              <span class="label label-success">42</span>
                          </a>
                          <ul class="dropdown-menu">
                              <li class="header">Not yet implemented</li>
                              <li>
                                  <!-- inner menu: contains the actual data -->
                                  <ul class="menu">
                                      <li>
                                          <!-- start message -->
                                          <a href="#">
                                              <div class="pull-left">
                                                  <i class="fa fa-file-code-o"></i>
                                              </div>
                                              <h4> Hello </h4>
                                          </a>
                                      </li>
                                      <li>
                                          <!-- start message -->
                                          <a href="#">
                                              <div class="pull-left">
                                                  <i class="fa fa-file-text-o"></i>
                                              </div>
                                              <h4> World </h4>
                                          </a>
                                      </li>
                                      <!-- end message -->
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <!-- User Account: style can be found in dropdown.less -->
                      <li class="dropdown user user-menu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-user"></i>
                              <span class="hidden-xs">Awesome User</span>
                          </a>
                          <ul class="dropdown-menu">
                              <li class="user-body">
                                  <!-- Menu Footer-->
                                  <div>
                                      <i class="fa fa-ellipsis-v"></i> Words </div>
                                  <div>
                                      <i class="fa fa-ellipsis-v"></i> More Words </div>
                              </li>
                              <li class="user-footer">
                                  <div class="pull-right">
                                      <a href="setprefs.php" class="btn btn-default btn-flat">Preferences</a>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <!-- Control Sidebar Toggle Button -->
                  </ul>
              </div>
          </nav>
      </header>
      <!-- =============================================== -->
      <!-- Left side column. contains the sidebar -->
      <aside class="main-sidebar">
          <!-- sidebar: style can be found in sidebar.less -->
          <section class="sidebar">
              <!-- search form -->
              <form action="#" method="get" class="sidebar-form" target="_blank">
                  <div class="input-group">
                      <input type="text" name="id" class="form-control" placeholder="How may I help?">
                      <span class="input-group-btn">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              </form>
              <!-- /.search form -->
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <ul class="sidebar-menu">
                  <li class="header">Main Pages</li>
                  <li><a href="#"><i class="fa fa-user-circle"></i> <span>Foo</span></a></li>
                  <li><a href="#"><i class="fa fa-users"></i> <span>Bar</span></a></li>
                  <li><a href="#"><i class="fa fa-calendar"></i> <span>Baz</span></a></li>
                  <li class="header">Everything Else</li>
                  <li class="treeview">
                      <a href="#"><i class="fa fa-file-text-o fa-fw"></i>
                          <span>Individual Pages</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="#"><i class="fa fa-user-circle"></i> <span>Foo</span></a></li>
                      </ul>
                  </li>
              </ul>
          </section>
          <!-- /.sidebar -->
      </aside>
      <!-- =============================================== -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style = "background: #0E0E10">
          <!-- Main content -->
          <section class="content">
              <div>
              </div>
          </section>
          <!-- /.content -->
      </div>
      <!-- /.content-wrapper
      <footer class="main-footer"></footer> -->
  </div>
</body>
</html>