body{
    background:#0E0E10;
    padding-top:54px;
}

#wrapper{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    padding:20px;
    overflow-y: auto;
    color:#999999;
    background: #18181B;
}

@media(max-width:1000px){
    #wrapper{
        width:0px;
        padding:0px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #cover{
        display: "block"
    }

    /* #face{
        display: "none";
    } */
}

.jumbotron{
    background: #0E0E10;
}

#mainHead{
    color: #fff;
}

