#con{
  color: #fff;
  font-size: 12px;
}
.jumbotron{ 
  background: #0E0E10;
}

#gameHead, #gameLink{
  color: #d3d3d3;
  font-weight: bold;
}

#wrapGame{
  list-style-type: none;
}

#gameList{
margin-bottom: 55px;
}

#wrapGame a{
  color: #d3d3d3;
  text-decoration: none;
}

#wrapGame a:hover{
  font-size:18px;
  transition:0.3s;
}

