body{
    max-width: 100%;
    overflow-x: hidden;
    background:#0E0E10;
    padding-top:48px;
}

#wrapper{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    padding:20px;
    overflow-y: auto;
    color:#999999;
    background: #18181B;
}

@media(max-width:1340px){
    #wrapper{
        width:0px;
        padding:0px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    /* .col-lg-2{
        display: none;
    } */
}

#con{
    color: #fff;
    font-size: 12px;
}

@media(max-width: 500){
    #caCon{
        font-size: 0px;
    }
}

.jumbotron{
    background: #0E0E10;
}

#mainHead{
    color: #fff;
}
#gameHead, #tournamentHead{
    color: #d3d3d3;
}

#wrapGame{
    list-style-type: none;
}

#wrapGame a{
    color: #d3d3d3;
    text-decoration: none;
}

#wrapGame a:hover{
    font-size:18px;
    transition:0.3s;
}