body, html {
    height:100%;
    background: #0E0E10;
  }

#sidebar{
  z-index: 1;
  top: 0;
  overflow-y: hidden;
  background: #151515;
}
  
@media screen and (max-width: 1000px) {

    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
  
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -33%;
    }
  
    .row-offcanvas-left.active {
      left: 33%;
      margin-left: -6px;
    }
  
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 33%;
      height: 100%;
      overflow: auto;
    }
  }

  @media screen and (max-width: 34em) {
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -45%;
    }
  
    .row-offcanvas-left.active {
      left: 45%;
      margin-left: -6px;
    }
    
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 45%;
      height: 100%;
      overflow: auto;
    }

    #gameLink{
      font-size: 12px;
    }
  }

.jumbotron{
  background: #0E0E10
}

#gameHead{
  color: #d3d3d3;
}

#gameLink{
    color: #d3d3d3;
    font-weight: bold;
}

#con{
  color:#d3d3d3;
  font-weight: bolder;
}

#ticon{
  color:gold;
  font-size:25px;
  margin-bottom: 10px;
}

